In [2]:
import pandas as pd

In [3]:
from pandas import Timestamp

In [4]:
import numpy as np

In [5]:
path = "./data"

In [6]:
donations = pd.read_csv(path+"/Donations.csv")

In [7]:
projects = pd.read_csv(path+"/Projects.csv")

In [8]:
donors = pd.read_csv(path+"/Donors.csv")

/var/folders/yl/9bnyyv317zx6n3nl5t7jy2n80000gn/T/ipykernel_27684/2561930728.py:1: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  donors = pd.read_csv(path+"/Donors.csv")

In [9]:
projects.count()

Project ID                          1110017
School ID                           1110017
Teacher ID                          1110017
Teacher Project Posted Sequence     1110017
Project Type                        1110017
Project Title                       1110011
Project Essay                       1110016
Project Short Description           1110014
Project Need Statement              1110014
Project Subject Category Tree       1109988
Project Subject Subcategory Tree    1109988
Project Grade Level Category        1110017
Project Resource Category           1109981
Project Cost                        1110017
Project Posted Date                 1110017
Project Expiration Date             1110003
Project Current Status              1110017
Project Fully Funded Date            826764
dtype: int64

In [10]:
project_max_date = Timestamp('2018-01-01')
project_min_date = Timestamp('2013-01-01')
donations_max_date = Timestamp('2018-05-01')
donations_min_date = Timestamp('2013-01-01')

In [11]:
donations["Donation Received Date"] = pd.to_datetime(donations["Donation Received Date"])
projects["Project Posted Date"] = pd.to_datetime(projects["Project Posted Date"])

In [12]:
donations["Donation Received Date"].max()

Timestamp('2018-05-09 11:38:47')

In [13]:
projects["Project Posted Date"].max()

Timestamp('2018-05-01 00:00:00')

In [14]:
donations["Donation Received Date"].min()

Timestamp('2012-10-08 13:53:00')

In [15]:
projects["Project Posted Date"].min()

Timestamp('2013-01-01 00:00:00')

In [16]:
donations = donations[donations["Donation Received Date"] > donations_min_date]
donations = donations[donations["Donation Received Date"] < donations_max_date]
projects = projects[projects["Project Posted Date"] < project_max_date]
projects = projects[projects["Project Posted Date"] > project_min_date]

In [17]:
donations.count()

Project ID                             4662374
Donation ID                            4662374
Donor ID                               4662374
Donation Included Optional Donation    4662374
Donation Amount                        4662374
Donor Cart Sequence                    4662374
Donation Received Date                 4662374
dtype: int64

In [18]:
projects.count()

Project ID                          979436
School ID                           979436
Teacher ID                          979436
Teacher Project Posted Sequence     979436
Project Type                        979436
Project Title                       979430
Project Essay                       979435
Project Short Description           979433
Project Need Statement              979433
Project Subject Category Tree       979407
Project Subject Subcategory Tree    979407
Project Grade Level Category        979436
Project Resource Category           979400
Project Cost                        979436
Project Posted Date                 979436
Project Expiration Date             979427
Project Current Status              979436
Project Fully Funded Date           738785
dtype: int64

In [19]:
projects.nunique()

Project ID                          979436
School ID                            70603
Teacher ID                          368423
Teacher Project Posted Sequence        484
Project Type                             3
Project Title                       822806
Project Essay                       978086
Project Short Description           782547
Project Need Statement              952857
Project Subject Category Tree           51
Project Subject Subcategory Tree       432
Project Grade Level Category             5
Project Resource Category               17
Project Cost                        156818
Project Posted Date                   1825
Project Expiration Date               1969
Project Current Status                   2
Project Fully Funded Date             1911
dtype: int64

In [20]:
projects.columns

Index(['Project ID', 'School ID', 'Teacher ID',
       'Teacher Project Posted Sequence', 'Project Type', 'Project Title',
       'Project Essay', 'Project Short Description', 'Project Need Statement',
       'Project Subject Category Tree', 'Project Subject Subcategory Tree',
       'Project Grade Level Category', 'Project Resource Category',
       'Project Cost', 'Project Posted Date', 'Project Expiration Date',
       'Project Current Status', 'Project Fully Funded Date'],
      dtype='object')

In [21]:
projects = projects.drop(['Project Title', 'Project Essay', 'Project Short Description', 'Project Need Statement', 'Project Current Status'], axis=1)

In [22]:
projects.columns.size

13

In [23]:
donations = donations.drop(["Donation Included Optional Donation", "Donor Cart Sequence"], axis=1)

In [24]:
donations.head()

,Project ID,Donation ID,Donor ID,Donation Amount,Donation Received Date
0,000009891526c0ade7180f8423792063,688729120858666221208529ee3fc18e,1f4b5b6e68445c6c4a0509b3aca93f38,178.37,2016-08-23 13:15:57
1,000009891526c0ade7180f8423792063,dcf1071da3aa3561f91ac689d1f73dee,4aaab6d244bf3599682239ed5591af8a,25.00,2016-06-06 20:05:23
2,000009891526c0ade7180f8423792063,18a234b9d1e538c431761d521ea7799d,0b0765dc9c759adc48a07688ba25e94e,20.00,2016-06-06 14:08:46
3,000009891526c0ade7180f8423792063,38d2744bf9138b0b57ed581c76c0e2da,377944ad61f72d800b25ec1862aec363,25.00,2016-05-15 10:23:04
4,000009891526c0ade7180f8423792063,5a032791e31167a70206bfb86fb60035,6d5b22d39e68c656071a842732c63a0c,25.00,2016-05-17 01:23:38

In [25]:
projects["Project ID"].count() == projects["Project ID"].nunique()

True

In [26]:
donations["Donation ID"].count() - donations["Donation ID"].nunique()

40

In [27]:
donations.sort_values(by=["Donation ID", "Donation Received Date"], inplace=True)
donations.drop_duplicates(subset=["Donation ID"], keep="last", inplace=True)

In [28]:
donations["Donation ID"].count() - donations["Donation ID"].nunique()

0

In [29]:
print(projects.count())
print(donations.count())

Project ID                          979436
School ID                           979436
Teacher ID                          979436
Teacher Project Posted Sequence     979436
Project Type                        979436
Project Subject Category Tree       979407
Project Subject Subcategory Tree    979407
Project Grade Level Category        979436
Project Resource Category           979400
Project Cost                        979436
Project Posted Date                 979436
Project Expiration Date             979427
Project Fully Funded Date           738785
dtype: int64
Project ID                4662334
Donation ID               4662334
Donor ID                  4662334
Donation Amount           4662334
Donation Received Date    4662334
dtype: int64

In [30]:
project_donations = projects.merge(donations, on='Project ID', how='left')

In [31]:
project_donations.count()

Project ID                          4433037
School ID                           4433037
Teacher ID                          4433037
Teacher Project Posted Sequence     4433037
Project Type                        4433037
Project Subject Category Tree       4432916
Project Subject Subcategory Tree    4432916
Project Grade Level Category        4433037
Project Resource Category           4432893
Project Cost                        4433037
Project Posted Date                 4433037
Project Expiration Date             4433026
Project Fully Funded Date           3934570
Donation ID                         4239997
Donor ID                            4239997
Donation Amount                     4239997
Donation Received Date              4239997
dtype: int64

In [32]:
project_donations.nunique()

Project ID                           979436
School ID                             70603
Teacher ID                           368423
Teacher Project Posted Sequence         484
Project Type                              3
Project Subject Category Tree            51
Project Subject Subcategory Tree        432
Project Grade Level Category              5
Project Resource Category                17
Project Cost                         156818
Project Posted Date                    1825
Project Expiration Date                1969
Project Fully Funded Date              1911
Donation ID                         4239997
Donor ID                            1881440
Donation Amount                       74326
Donation Received Date              3708986
dtype: int64

In [33]:
donors = donors[["Donor ID", "Donor Is Teacher"]]

In [34]:
project_donations_donors = project_donations.merge(donors, on='Donor ID', how='left')

In [35]:
project_donations_donors.count()

Project ID                          4433037
School ID                           4433037
Teacher ID                          4433037
Teacher Project Posted Sequence     4433037
Project Type                        4433037
Project Subject Category Tree       4432916
Project Subject Subcategory Tree    4432916
Project Grade Level Category        4433037
Project Resource Category           4432893
Project Cost                        4433037
Project Posted Date                 4433037
Project Expiration Date             4433026
Project Fully Funded Date           3934570
Donation ID                         4239997
Donor ID                            4239997
Donation Amount                     4239997
Donation Received Date              4239997
Donor Is Teacher                    4239992
dtype: int64

In [36]:
project_donations_donors.nunique()

Project ID                           979436
School ID                             70603
Teacher ID                           368423
Teacher Project Posted Sequence         484
Project Type                              3
Project Subject Category Tree            51
Project Subject Subcategory Tree        432
Project Grade Level Category              5
Project Resource Category                17
Project Cost                         156818
Project Posted Date                    1825
Project Expiration Date                1969
Project Fully Funded Date              1911
Donation ID                         4239997
Donor ID                            1881440
Donation Amount                       74326
Donation Received Date              3708986
Donor Is Teacher                          2
dtype: int64

In [37]:
project_donations_donors.head()

,Project ID,School ID,Teacher ID,Teacher Project Posted Sequence,Project Type,Project Subject Category Tree,Project Subject Subcategory Tree,Project Grade Level Category,Project Resource Category,Project Cost,Project Posted Date,Project Expiration Date,Project Fully Funded Date,Donation ID,Donor ID,Donation Amount,Donation Received Date,Donor Is Teacher
0,7b017fa79510998c3960ed8f3b47c7c9,9ae756303b7919428b455baae0eb1998,70c5ec84f5faae238a0b17cd755921ce,4,Teacher-Led,"Literacy & Language, Math & Science","Literacy, Mathematics",Grades 3-5,Technology,347.93,2013-01-02,2013-05-31,NaN,0df1f587f4544de7d033d4eac68a69a1,8dd44940c567893c3f57e2534430752c,50.00,2013-05-15 15:55:53,No
1,b12c0c126c64963305a51ca60f687b53,0917cacae1d752ab5ead1cf1d9e86d59,4e8d5828adb05503f825d30d8a5c93a9,10,Teacher-Led,Math & Science,Applied Sciences,Grades 6-8,Technology,527.05,2013-01-02,2013-06-01,NaN,a3860c0de4eff71b5421e996d23ba504,1962145118a5a9618d965044b721afd9,100.00,2013-01-03 10:57:28,No
2,f00d5e1740d3b36e1edbaf770d6b08c4,0737f34d03196b62fc2bc1fc2e5c2672,2d5176b68bedd91b7bde3054d6dbdf5c,3,Teacher-Led,"Math & Science, Literacy & Language","Health & Life Science, Literacy",Grades PreK-2,Books,254.85,2013-01-02,2013-05-31,2013-05-25,16d0d868e724426319f81855262a1e8e,cb0b14571e2d2c7a484e4e85d3d6b52f,50.00,2013-04-05 12:59:54,No
3,f00d5e1740d3b36e1edbaf770d6b08c4,0737f34d03196b62fc2bc1fc2e5c2672,2d5176b68bedd91b7bde3054d6dbdf5c,3,Teacher-Led,"Math & Science, Literacy & Language","Health & Life Science, Literacy",Grades PreK-2,Books,254.85,2013-01-02,2013-05-31,2013-05-25,93cf2f52d6197a06f6dee1103859a331,4d47f946ffdeb59d4ff30ec21b2d68fa,50.00,2013-05-10 20:25:26,No
4,f00d5e1740d3b36e1edbaf770d6b08c4,0737f34d03196b62fc2bc1fc2e5c2672,2d5176b68bedd91b7bde3054d6dbdf5c,3,Teacher-Led,"Math & Science, Literacy & Language","Health & Life Science, Literacy",Grades PreK-2,Books,254.85,2013-01-02,2013-05-31,2013-05-25,987b25323a4b14bb5d50fa9daf7098c4,0e345dcdef0d2a36c9bd17bf1ac3e10a,26.02,2013-05-19 00:14:10,No

In [38]:
project_donations_donors[project_donations_donors['Donor Is Teacher'] == 'Yes'].shape

(1157094, 18)

In [39]:
project_donations_donors[project_donations_donors['Donor Is Teacher'] == 'No'].shape

(3082898, 18)

In [40]:
# logic dropping teacher donations
project_donations_donors = project_donations_donors[project_donations_donors['Donor Is Teacher'] != 'Yes']

In [41]:
project_donations_donors.shape

(3275943, 18)

In [42]:
project_donations_donors = project_donations_donors.drop(['Donor Is Teacher', 'Donor ID'], axis=1)

In [43]:
project_donations_donors.nunique()

Project ID                           915954
School ID                             69915
Teacher ID                           358279
Teacher Project Posted Sequence         482
Project Type                              3
Project Subject Category Tree            51
Project Subject Subcategory Tree        430
Project Grade Level Category              5
Project Resource Category                17
Project Cost                         152668
Project Posted Date                    1825
Project Expiration Date                1963
Project Fully Funded Date              1911
Donation ID                         3082903
Donation Amount                       69830
Donation Received Date              2797689
dtype: int64

In [44]:
DONATION_PERIOD = 30
THRESHOLD_RATIO = 0.4

In [45]:
project_donations_donors["Posted Date to Donation Date"] = project_donations_donors["Donation Received Date"] - project_donations_donors["Project Posted Date"]
project_donations_donors["Posted Date to Donation Date"] = project_donations_donors["Posted Date to Donation Date"].dt.days

In [46]:
project_donations_donors.nunique()

Project ID                           915954
School ID                             69915
Teacher ID                           358279
Teacher Project Posted Sequence         482
Project Type                              3
Project Subject Category Tree            51
Project Subject Subcategory Tree        430
Project Grade Level Category              5
Project Resource Category                17
Project Cost                         152668
Project Posted Date                    1825
Project Expiration Date                1963
Project Fully Funded Date              1911
Donation ID                         3082903
Donation Amount                       69830
Donation Received Date              2797689
Posted Date to Donation Date            365
dtype: int64

In [47]:
project_donations_donors[project_donations_donors["Posted Date to Donation Date"] >= 0].nunique()

Project ID                           722832
School ID                             66285
Teacher ID                           304189
Teacher Project Posted Sequence         480
Project Type                              3
Project Subject Category Tree            51
Project Subject Subcategory Tree        428
Project Grade Level Category              5
Project Resource Category                17
Project Cost                         131928
Project Posted Date                    1825
Project Expiration Date                1958
Project Fully Funded Date              1911
Donation ID                         3079717
Donation Amount                       69827
Donation Received Date              2794702
Posted Date to Donation Date            213
dtype: int64

In [48]:
project_donations_donors[project_donations_donors["Posted Date to Donation Date"] >= 0].count()

Project ID                          3079717
School ID                           3079717
Teacher ID                          3079717
Teacher Project Posted Sequence     3079717
Project Type                        3079717
Project Subject Category Tree       3079640
Project Subject Subcategory Tree    3079640
Project Grade Level Category        3079717
Project Resource Category           3079618
Project Cost                        3079717
Project Posted Date                 3079717
Project Expiration Date             3079715
Project Fully Funded Date           2783677
Donation ID                         3079717
Donation Amount                     3079717
Donation Received Date              3079717
Posted Date to Donation Date        3079717
dtype: int64

In [49]:
# project_donations_donors = project_donations_donors[project_donations_donors["Posted Date to Donation Date"] >= 0]

In [50]:
project_donations_donors.nunique()

Project ID                           915954
School ID                             69915
Teacher ID                           358279
Teacher Project Posted Sequence         482
Project Type                              3
Project Subject Category Tree            51
Project Subject Subcategory Tree        430
Project Grade Level Category              5
Project Resource Category                17
Project Cost                         152668
Project Posted Date                    1825
Project Expiration Date                1963
Project Fully Funded Date              1911
Donation ID                         3082903
Donation Amount                       69830
Donation Received Date              2797689
Posted Date to Donation Date            365
dtype: int64

In [51]:
mask_1 = project_donations_donors["Posted Date to Donation Date"] <= DONATION_PERIOD
mask_2 = project_donations_donors["Posted Date to Donation Date"] <= DONATION_PERIOD*3

In [52]:
# project_donations_donors.loc[mask, "Donation Amount"] = 0
project_donations_donors["Donation in first month"] = np.where(mask_1, project_donations_donors["Donation Amount"], 0)
project_donations_donors["Donation in three months"] = np.where(mask_2, project_donations_donors["Donation Amount"], 0)

In [53]:
project_donations_donors.nunique()

Project ID                           915954
School ID                             69915
Teacher ID                           358279
Teacher Project Posted Sequence         482
Project Type                              3
Project Subject Category Tree            51
Project Subject Subcategory Tree        430
Project Grade Level Category              5
Project Resource Category                17
Project Cost                         152668
Project Posted Date                    1825
Project Expiration Date                1963
Project Fully Funded Date              1911
Donation ID                         3082903
Donation Amount                       69830
Donation Received Date              2797689
Posted Date to Donation Date            365
Donation in first month               53050
Donation in three months              63829
dtype: int64

In [54]:
project_donations_donors.count()

Project ID                          3275943
School ID                           3275943
Teacher ID                          3275943
Teacher Project Posted Sequence     3275943
Project Type                        3275943
Project Subject Category Tree       3275855
Project Subject Subcategory Tree    3275855
Project Grade Level Category        3275943
Project Resource Category           3275833
Project Cost                        3275943
Project Posted Date                 3275943
Project Expiration Date             3275933
Project Fully Funded Date           2873527
Donation ID                         3082903
Donation Amount                     3082903
Donation Received Date              3082903
Posted Date to Donation Date        3082903
Donation in first month             3275943
Donation in three months            3275943
dtype: int64

In [55]:
grouped_1 = project_donations_donors.groupby("Project ID")["Donation in first month"].sum()
grouped_2 = project_donations_donors.groupby("Project ID")["Donation in three months"].sum()

In [56]:
data = project_donations_donors.merge(grouped_1, left_on='Project ID', right_index=True)
data = data.merge(grouped_2, left_on='Project ID', right_index=True)

In [57]:
data.head()

,Project ID,School ID,Teacher ID,Teacher Project Posted Sequence,Project Type,Project Subject Category Tree,Project Subject Subcategory Tree,Project Grade Level Category,Project Resource Category,Project Cost,...,Project Expiration Date,Project Fully Funded Date,Donation ID,Donation Amount,Donation Received Date,Posted Date to Donation Date,Donation in first month_x,Donation in three months_x,Donation in first month_y,Donation in three months_y
0,7b017fa79510998c3960ed8f3b47c7c9,9ae756303b7919428b455baae0eb1998,70c5ec84f5faae238a0b17cd755921ce,4,Teacher-Led,"Literacy & Language, Math & Science","Literacy, Mathematics",Grades 3-5,Technology,347.93,...,2013-05-31,NaN,0df1f587f4544de7d033d4eac68a69a1,50.00,2013-05-15 15:55:53,133.0,0.0,0.0,0.0,0.0
1,b12c0c126c64963305a51ca60f687b53,0917cacae1d752ab5ead1cf1d9e86d59,4e8d5828adb05503f825d30d8a5c93a9,10,Teacher-Led,Math & Science,Applied Sciences,Grades 6-8,Technology,527.05,...,2013-06-01,NaN,a3860c0de4eff71b5421e996d23ba504,100.00,2013-01-03 10:57:28,1.0,100.0,100.0,100.0,100.0
2,f00d5e1740d3b36e1edbaf770d6b08c4,0737f34d03196b62fc2bc1fc2e5c2672,2d5176b68bedd91b7bde3054d6dbdf5c,3,Teacher-Led,"Math & Science, Literacy & Language","Health & Life Science, Literacy",Grades PreK-2,Books,254.85,...,2013-05-31,2013-05-25,16d0d868e724426319f81855262a1e8e,50.00,2013-04-05 12:59:54,93.0,0.0,0.0,0.0,0.0
3,f00d5e1740d3b36e1edbaf770d6b08c4,0737f34d03196b62fc2bc1fc2e5c2672,2d5176b68bedd91b7bde3054d6dbdf5c,3,Teacher-Led,"Math & Science, Literacy & Language","Health & Life Science, Literacy",Grades PreK-2,Books,254.85,...,2013-05-31,2013-05-25,93cf2f52d6197a06f6dee1103859a331,50.00,2013-05-10 20:25:26,128.0,0.0,0.0,0.0,0.0
4,f00d5e1740d3b36e1edbaf770d6b08c4,0737f34d03196b62fc2bc1fc2e5c2672,2d5176b68bedd91b7bde3054d6dbdf5c,3,Teacher-Led,"Math & Science, Literacy & Language","Health & Life Science, Literacy",Grades PreK-2,Books,254.85,...,2013-05-31,2013-05-25,987b25323a4b14bb5d50fa9daf7098c4,26.02,2013-05-19 00:14:10,137.0,0.0,0.0,0.0,0.0

In [58]:
data.drop_duplicates(subset="Project ID", keep="first", inplace=True)

In [59]:
data.count()

Project ID                          915954
School ID                           915954
Teacher ID                          915954
Teacher Project Posted Sequence     915954
Project Type                        915954
Project Subject Category Tree       915926
Project Subject Subcategory Tree    915926
Project Grade Level Category        915954
Project Resource Category           915920
Project Cost                        915954
Project Posted Date                 915954
Project Expiration Date             915945
Project Fully Funded Date           692487
Donation ID                         722914
Donation Amount                     722914
Donation Received Date              722914
Posted Date to Donation Date        722914
Donation in first month_x           915954
Donation in three months_x          915954
Donation in first month_y           915954
Donation in three months_y          915954
dtype: int64

In [79]:
data[["Project Posted Date", "Project Expiration Date"]]

        Project Posted Date Project Expiration Date
0                2013-01-02              2013-05-31
1                2013-01-02              2013-06-01
2                2013-01-02              2013-05-31
6                2013-01-02              2013-05-31
46               2013-01-02              2013-06-01
...                     ...                     ...
4433026          2017-12-31              2018-04-30
4433027          2017-12-31              2018-04-30
4433028          2017-12-31              2018-04-30
4433029          2017-12-31              2018-04-30
4433031          2017-12-31              2018-04-30

[915954 rows x 2 columns]

In [63]:
# Convert to datetime
projects["Project Posted Date"]=pd.to_datetime(projects["Project Posted Date"])
projects["Project Expiration Date"]=pd.to_datetime(projects["Project Expiration Date"])
#projects["Fully Funded Date"]=pd.to_datetime(projects["Fully Funded Date"])
projects["Active Duration"] = projects.loc[:,"Project Expiration Date"] - projects.loc[:,"Project Posted Date"]

In [68]:
import seaborn as sns
import matplotlib.pyplot as plt

projects["Active Duration"] = pd.to_datetime(projects["Active Duration"])
projects["Active Duration"] = projects["Active Duration"]/ np.timedelta64(1, 'D')
plt.clf()
f, axes = plt.subplots(1, 2,figsize=(28,7))

a=0
q1 = projects["Active Duration"].quantile(0.1)
q3 = projects["Active Duration"].quantile(1-0.01)
mask = projects["Active Duration"].between(q1, q3, inclusive=True)
iqr = projects.loc[mask, "Active Duration"]
sns.distplot(iqr, ax=axes[0])

TypeError: cannot perform __truediv__ with this index type: DatetimeArray

In [61]:
data.rename(columns={'Donation in first month_y': 'Total Donations In 1 Month'}, inplace=True)
data.rename(columns={'Donation in three months_y': 'Total Donations In 3 Months'}, inplace=True)

In [62]:
data.nunique()

Project ID                          915954
School ID                            69915
Teacher ID                          358279
Teacher Project Posted Sequence        482
Project Type                             3
Project Subject Category Tree           51
Project Subject Subcategory Tree       430
Project Grade Level Category             5
Project Resource Category               17
Project Cost                        152668
Project Posted Date                   1825
Project Expiration Date               1963
Project Fully Funded Date             1911
Donation ID                         722914
Donation Amount                      58053
Donation Received Date              670370
Posted Date to Donation Date           276
Donation in first month_x            45115
Donation in three months_x           53578
Total Donations In 1 Month           85991
Total Donations In 3 Months         102660
dtype: int64

In [63]:
data[['Total Donations In 1 Month', 'Total Donations In 3 Months']]

         Total Donations In 1 Month  Total Donations In 3 Months
0                              0.00                         0.00
1                            100.00                       100.00
2                              0.00                         0.00
6                             76.79                        76.79
46                             0.00                        25.00
...                             ...                          ...
4433026                        0.00                         0.00
4433027                        0.00                       751.75
4433028                        0.00                         0.00
4433029                      262.89                       262.89
4433031                      160.00                       298.26

[915954 rows x 2 columns]

In [64]:
data["Fund Ratio 1 month"] = np.where(
        data["Project Cost"] > 0,
        np.round(data['Total Donations In 1 Month'] / data["Project Cost"], decimals=2), 1
)
data["Fund Ratio 3 months"] = np.where(
        data["Project Cost"] > 0,
        np.round(data['Total Donations In 3 Months'] / data["Project Cost"], decimals=2), 1
)

In [75]:
data[data["Fund Ratio 1 month"] >= 0.95].count()

Project ID                          49891
School ID                           49891
Teacher ID                          49891
Teacher Project Posted Sequence     49891
Project Type                        49891
Project Subject Category Tree       49890
Project Subject Subcategory Tree    49890
Project Grade Level Category        49891
Project Resource Category           49890
Project Cost                        49891
Project Posted Date                 49891
Project Expiration Date             49891
Project Fully Funded Date           49891
Donation ID                         49891
Donation Amount                     49891
Donation Received Date              49891
Posted Date to Donation Date        49891
Donation in first month_x           49891
Donation in three months_x          49891
Total Donations In 1 Month          49891
Total Donations In 3 Months         49891
Fund Ratio 1 month                  49891
Fund Ratio 3 months                 49891
dtype: int64

In [76]:
data[data["Fund Ratio 3 months"] >= 0.1].count()

Project ID                          571823
School ID                           571823
Teacher ID                          571823
Teacher Project Posted Sequence     571823
Project Type                        571823
Project Subject Category Tree       571812
Project Subject Subcategory Tree    571812
Project Grade Level Category        571823
Project Resource Category           571806
Project Cost                        571823
Project Posted Date                 571823
Project Expiration Date             571822
Project Fully Funded Date           527725
Donation ID                         571823
Donation Amount                     571823
Donation Received Date              571823
Posted Date to Donation Date        571823
Donation in first month_x           571823
Donation in three months_x          571823
Total Donations In 1 Month          571823
Total Donations In 3 Months         571823
Fund Ratio 1 month                  571823
Fund Ratio 3 months                 571823
dtype: int64

In [ ]:
data.count()
label 1 - 
label 0 -

In [ ]:
data["Donation Propotion"] = np.where(data['Fund Ratio 3 months'] > 0, 
                                      np.round(data['Fund Ratio 1 month']/ data['Fund Ratio 3 months'], decimals=2),
                                      -1)

In [ ]:
data[['Project ID', 'Total Donations In 1 Month', 'Total Donations In 3 Months', 'Fund Ratio 1 month', 'Fund Ratio 3 months', "Donation Propotion"]]

In [ ]:
data["Donation Propotion"].value_counts()

In [ ]:
data["Donation Propotion"].plot(x="Donation Propotion", kind="kde")

In [ ]:
data["Not Fully Funded in 3 Months"] = data.apply(lambda x: 1 if x["Fund Ratio 3 months"] < 1 else 0, axis=1)

In [ ]:
data["Not Fully Funded in 1 Month Ratio"] = data["Not Fully Funded in 3 Months"] * data['Fund Ratio 1 month']

In [ ]:
data["Not Fully Funded in 1 Month Ratio"].value_counts()

In [ ]:
data["Not Fully Funded in 1 Month Ratio"].mean()

In [ ]:
data.plot(x = "Project Posted Date", y = ['Fund Ratio 1 month', 'Fund Ratio 3 months'])

In [ ]:
# data = project_donations_donors[project_donations_donors["Posted Date to Donation Date"] < DONATION_PERIOD]

In [ ]:
# # data.sort_values(by="Posted Date to Donation Date", inplace=True)
# project | don id | post-don days
# adsd        213     12
# sdae        222     32      0       1    
# sdas        223     23      400     0
# sdas        224     14      400     0

In [ ]:
data[data["Posted Date to Donation Date"] < 0].count()

In [ ]:
data.count()

In [ ]:
data["Fund Ratio"] = np.where(
        data["Project Cost"] > 0,
        data["Total Donations In The Period"] / data["Project Cost"], 1
)

In [ ]:
data["Fund Ratio"].max()

In [ ]:
data[data["Fund Ratio"]<0.6].nunique()

In [ ]:
data["Fund Ratio"].mean()

In [ ]:
data["Fund Ratio"].plot(kind='kde')

In [ ]:
data = data.drop(["Donation ID", "Donation Amount_x", "Donation Received Date", "Total Donations In The Period"], axis=1)

In [ ]:
data.nunique()

In [ ]:
data.drop_duplicates(subset="Project ID", keep="first", inplace=True)

In [ ]:
data.count()

In [ ]:
data.nunique()

In [ ]:
# "Not get funded" is 1
data["Label"] = data.apply(lambda x: 1 if x['Fund Ratio 1 month'] < 0.2 else 0, axis=1)

In [ ]:
data["Label"].value_counts()

In [ ]:
pos_perc = data["Label"].value_counts()

In [ ]:
data_test = data[["Fund Ratio", "Label", "Project Fully Funded Date"]]
data_test = data_test[(data_test["Label"] == 1) & (data_test["Project Fully Funded Date"].notna())]
# data_test 
# really_not_funded = 69954
# really_funded = 271188

In [ ]:
labelled_data_p_d_d = data.drop(["Project Fully Funded Date", "Posted Date to Donation Date", "Fund Ratio"], axis=1)

In [ ]:
labelled_data_p_d_d.shape

In [ ]:
teachers = pd.read_csv(path+"/Teachers.csv")

In [ ]:
teachers.count()

In [ ]:
labelled_data_p_d_d_t = labelled_data_p_d_d.merge(teachers, on="Teacher ID", how="left")

In [ ]:
schools = pd.read_csv(path+"/Schools.csv")

In [ ]:
schools.count()

In [ ]:
schools.head()

In [ ]:
labelled_data_p_d_d_t_s = labelled_data_p_d_d_t.merge(schools, on="School ID", how="left").drop(["School Zip"], axis=1)

In [ ]:
labelled_data_p_d_d_t_s.count()

In [ ]:
resources = pd.read_csv(path+"/Resources.csv")

In [ ]:
resources.shape

In [ ]:
resources.nunique()

In [ ]:
labelled_data_p_d_d_t_s_r = labelled_data_p_d_d_t_s.merge(resources, on="Project ID", how="left")

In [ ]:
labelled_data_p_d_d_t_s_r.shape

In [ ]:
labelled_data_p_d_d_t_s_r.nunique()

In [ ]:
labelled_data_p_d_d_t_s_r = labelled_data_p_d_d_t_s_r.drop(["Resource Item Name", "Resource Quantity", "Resource Unit Price"], axis=1)

In [ ]:
labelled_data_p_d_d_t_s[labelled_data_p_d_d_t_s["Project ID"] == "b2304d2fed2cdb4aecea50c1e35171b4"]

In [ ]:
labelled_data_p_d_d_t_s_r = labelled_data_p_d_d_t_s_r.drop_duplicates(subset=["Project ID"])

In [ ]:
labelled_data_p_d_d_t_s_r.nunique()

labelled_data_p_d_d_t_s_r shoud be the final data df

In [ ]:
# labelled_data_p_d_d_t_s_r = labelled_data_p_d_d_t_s_r.sort_values(by=["Project Posted Date"])

In [ ]:
labelled_data_p_d_d_t_s_r.head()

In [ ]:
labelled_data_p_d_d_t_s_r.count()

In [ ]:
labelled_data_p_d_d_t_s_r = labelled_data_p_d_d_t_s_r.drop_duplicates(subset=["Project ID"])

In [ ]:
labelled_data_p_d_d_t_s_r.count()

In [ ]:
labelled_data_p_d_d_t_s_r.nunique()

In [ ]:
labelled_data_p_d_d_t_s_r = labelled_data_p_d_d_t_s_r.sample(frac = 1)

In [ ]:
labelled_data_p_d_d_t_s_r.to_csv(path+"/Dataset.csv", index=False)

In [ ]:
labelled_data_p_d_d_t_s_r.iloc[99:150]["Project Posted Date"]